@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/SVN-Poppins Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/SVN-Poppins Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/SVN-Poppins SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/SVN-Poppins ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../fonts/SVN-Poppins Black.ttf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Poppins";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: #fff;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body a:hover, body a:focus {
  color: #17305f;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body .go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #17305f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(23, 48, 95, 0.5);
  box-shadow: 0 0 10px rgba(23, 48, 95, 0.5);
  display: block;
}
body .go-top i {
  font-size: 24px;
  color: white;
  line-height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .go-top:hover {
  -webkit-box-shadow: 0 0 20px rgba(23, 48, 95, 0.8);
  box-shadow: 0 0 20px rgba(23, 48, 95, 0.8);
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
}
body .go-top:hover i {
  line-height: 50px;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 48, 95, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 48, 95, 0.5);
}

body .xzoom-source img,
body .xzoom-preview img,
body .xzoom-lens img {
  z-index: 1051;
}
body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.05);
}
body .overlay-menu.overlay-in {
  display: block;
}
body .modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}
body .mfp-bg {
  z-index: 1052;
}
body .mfp-wrap {
  z-index: 1053;
}
body .ui-widget.ui-widget-content {
  z-index: 1050;
}

.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h3 {
  font-weight: bold;
  margin-bottom: 5px;
  color: #17305f;
  text-transform: uppercase;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
  color: #656565;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.quickview .modal-content .modal-body h4 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
  font-size: 14px;
}
.quickview .modal-content .modal-body input, .quickview .modal-content .modal-body select {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  margin: 0 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body input:focus, .quickview .modal-content .modal-body select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #17305f;
}
.quickview .modal-content .modal-body select {
  width: 60px;
}
.quickview .modal-content .modal-body a {
  cursor: pointer;
  padding: 10px 20px;
  background: #17305f;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}
.quickview .modal-content .modal-body a:hover {
  color: black !important;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #17305f;
}
.quickview .modal-content .quickview-detail-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.quickview .modal-content .quickview-detail-1 .quantity {
  margin-right: 20px;
}
.quickview .modal-content .quickview-detail .color select {
  width: 120px;
}
.quickview .modal-content .quickview-detail .size select {
  width: auto;
}
.quickview .modal-content .quickview-detail-2 {
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
}
.quickview .modal-content .quickview-detail-2 i {
  color: red;
  font-weight: 300;
  font-size: 12px;
}
.quickview .modal-content .quickview-detail-3 span {
  display: block;
  margin-bottom: 10px;
}
.quickview .modal-content .quickview-detail-3 input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 14px;
}
.quickview .modal-content .quickview-detail button {
  height: 40px;
  background: #17305f;
  color: white;
  width: 100%;
  text-align: center;
  border: 2px solid #17305f;
  line-height: 37px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 10px;
}
.quickview .modal-content .quickview-detail button:hover {
  background: none;
  color: #17305f;
}

.modal-img {
  position: relative;
}
.modal-img .main-image {
  width: 100%;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #17305f !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 15px;
}

.selection_img_search, .selection_bubble_root {
  display: none;
}

.slider {
  position: relative;
}
.slider .item {
  position: relative;
  z-index: 1;
}
.slider .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.slider .slider-text {
  left: 15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 500px;
  position: absolute;
  z-index: 2;
  color: white;
}
.slider .slider-text h1 {
  font-size: 50px;
}
.slider .slider-text h2 {
  font-size: 40px;
}
.slider .slider-text h3 {
  font-size: 30px;
}
.slider .slider-text h4 {
  font-size: 18px;
}
.slider .owl-carousel .owl-stage-outer {
  max-height: 100vh;
}
.slider .owl-carousel .owl-stage-outer img {
  object-fit: cover;
  height: 100vh;
}
.slider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -10px;
}
.slider .owl-theme .owl-nav.disabled + .owl-dots button span {
  background: none;
  border: 2px solid white;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider .owl-theme .owl-nav.disabled + .owl-dots button.active span, .slider .owl-theme .owl-nav.disabled + .owl-dots button:hover span {
  background: #17305f;
  border-color: #17305f;
}

.article-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 60px;
}
.article-top .left {
  width: 50%;
}
.article-top .right {
  width: 50%;
  padding: 50px;
  text-align: center;
  position: relative;
}
.article-top .right-zone {
  position: absolute;
  width: calc(100% - 100px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.article-top .right h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(5px + 1.2vw);
  color: #17305f;
}
.article-top .right h5 {
  color: #585858;
  margin-bottom: 30px;
  font-size: calc(5px + .8vw);
}
.article-top .right .box-right {
  padding: 25px 0;
  border-top: 1px solid #17305f;
  border-bottom: 1px solid #17305f;
  margin-bottom: 20px;
}
.article-top .right .box-right h3 {
  font-weight: 400;
  text-transform: initial;
  color: black;
  font-size: calc(9px + 1vw);
  font-style: italic;
}
.article-top .right .box-right h3 span {
  color: red;
  font-weight: 600;
  font-style: initial;
}
.article-top .right .box-right h4 {
  font-size: calc(5px + 1vw);
  text-decoration: none;
  color: #17305f;
  margin-top: 10px;
  font-weight: 500;
}
.article-top .right .box-right h4 span {
  font-weight: 400;
  margin-right: 2em;
  color: #555555;
  font-size: calc(5px + .8vw);
  text-decoration: line-through;
  margin-top: 10px;
}
.article-top .right h2 {
  text-align: center;
  margin-top: 40px;
}
.article-top .right h2 a {
  font-size: 20px;
  background: #17305f;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  border: 2px solid #17305f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}
.article-top .right h2 a:hover {
  color: #17305f;
  background: none;
}

.title-page {
  text-align: center;
  margin-bottom: 40px;
}
.title-page h1 {
  font-weight: bold;
  letter-spacing: 0.5em;
  font-size: 34px;
}
.title-page h1 span {
  font-weight: 300;
}
.title-page img {
  margin-bottom: 15px;
}
.title-page h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #2e2e2e;
}
.title-page h2 span {
  font-weight: 600;
  margin-right: 1em;
}

.product {
  margin-bottom: 20px;
}
.product .title-page {
  color: #2e2e2e;
}
.product .owl-stage-outer {
  padding: 10px;
  margin: -10px;
}
.product .box-product:hover .box-product-order {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.product .box-product-img {
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product .box-product-img:hover {
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
}
.product .box-product-img:hover img.hidden {
  opacity: 1;
  visibility: initial;
  -webkit-transform: none;
  transform: none;
}
.product .box-product-img:hover img.show {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.product .box-product-img img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product .box-product-img img.hidden {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.product .box-product-detail {
  text-align: center;
  margin-top: 15px;
}
.product .box-product-detail h3 {
  text-transform: uppercase;
  color: #17305f;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.product .box-product-detail h4 {
  font-weight: 600;
  font-size: 16px;
  color: red;
}
.product .box-product-detail h4 span {
  font-size: 14px;
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-right: 15px;
}
.product .box-product-order {
  margin: 30px 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
.product .box-product-order a {
  font-weight: 500;
  color: #585858;
  padding: 12px 30px;
  border: 1px solid #ccc;
}
.product .box-product-order a i {
  padding-left: 5px;
}
.product .box-product-order a:hover {
  color: white;
  background: #17305f;
  border-color: #17305f;
}
.product .owl-theme .owl-nav button.owl-prev,
.product .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
.product .owl-theme .owl-nav button.owl-prev:hover,
.product .owl-theme .owl-nav button.owl-next:hover {
  color: #17305f;
  background: none;
}
.product .owl-theme .owl-nav button.owl-prev:focus,
.product .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.product .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.product .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.innovation {
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;
}
.innovation .left {
  background-image: url("../img/bg-innovation.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 10%;
  padding-right: 0;
}
.innovation .left-child {
  width: 40%;
}
.innovation .left h1 {
  font-size: calc(10px + 1.8vw);
  font-weight: bold;
  text-transform: uppercase;
  color: #17305f;
  margin-bottom: 10px;
}
.innovation .left h2 {
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(10px + 1vw);
}
.innovation .left h4 {
  line-height: 1.6;
  color: #2e2e2e;
  font-size: 18px;
  margin-top: 50px;
  font-size: calc(10px + .5vw);
}
.innovation .right {
  position: absolute;
  right: 0;
  top: -10%;
  height: 120%;
}

.our-product {
  margin-bottom: 50px;
}
.our-product .title-page h2 {
  font-size: 34px;
}
.our-product .title-page h2 span {
  margin: 0;
  margin-left: 1em;
}
.our-product .box-our-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.our-product .box-our-product-img {
  width: 50%;
}
.our-product .box-our-product-img img {
  width: 100%;
}
.our-product .box-our-product-detail {
  width: calc(50% - 60px);
  margin: 30px;
}
.our-product .box-our-product-detail img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.our-product .box-our-product-detail h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #2e2e2e;
}
.our-product .box-our-product-detail h4 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #2e2e2e;
  text-transform: uppercase;
}
.our-product .box-our-product-detail p {
  line-height: 1.6;
  margin-bottom: 30px;
}
.our-product .owl-theme .owl-nav button.owl-prev,
.our-product .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background: #17305f;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 20px;
  line-height: 40px;
}
.our-product .owl-theme .owl-nav button.owl-prev:hover,
.our-product .owl-theme .owl-nav button.owl-next:hover {
  background: black;
}
.our-product .owl-theme .owl-nav button.owl-prev:focus,
.our-product .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.our-product .owl-theme .owl-nav button.owl-prev {
  left: -40px;
}
.our-product .owl-theme .owl-nav button.owl-next {
  right: -40px;
}
.our-product .owl-theme .owl-dots .owl-dot {
  margin-top: 50px;
}
.our-product .owl-theme .owl-dots .owl-dot span {
  background: #ccc;
  width: 12px;
  height: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid white;
}
.our-product .owl-theme .owl-dots .owl-dot.active span, .our-product .owl-theme .owl-dots .owl-dot:hover span {
  background: #17305f;
  border-color: #17305f;
  width: 12px;
  height: 12px;
  -webkit-transform: none;
  transform: none;
}

.fashionable {
  background-image: url("../img/bg-fashionable.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}
.fashionable .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fashionable .left {
  width: calc(50% - 50px);
  margin-right: 50px;
}
.fashionable .right {
  width: 50%;
  padding: 50px 0;
}
.fashionable .right .title-fashionable h1 {
  font-size: 36px;
  color: #17305f;
  font-weight: bold;
  text-transform: uppercase;
}
.fashionable .right .title-fashionable h2 {
  font-weight: 500;
  color: #2e2e2e;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.fashionable .right .title-fashionable h4 {
  color: #2e2e2e;
  font-size: 18px;
  margin-bottom: 50px;
}
.fashionable .right .box-fashionable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.fashionable .right .box-fashionable img {
  width: 30px;
}
.fashionable .right .box-fashionable h5 {
  width: 145px;
  margin-left: 15px;
  margin-right: 30px;
  font-weight: bold;
  color: #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.fashionable .right .box-fashionable i {
  width: calc(100% - 30px - 190px);
}

.adaptable {
  position: relative;
}
.adaptable-title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.adaptable-title-child {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.adaptable-title-child h1 {
  font-size: 36px;
  font-weight: bold;
  color: #17305f;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.adaptable-title-child h2 {
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.adaptable .owl-theme .owl-nav button.owl-prev,
.adaptable .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background: #17305f;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 20px;
  line-height: 40px;
  z-index: 10;
}
.adaptable .owl-theme .owl-nav button.owl-prev:hover,
.adaptable .owl-theme .owl-nav button.owl-next:hover {
  background: black;
}
.adaptable .owl-theme .owl-nav button.owl-prev:focus,
.adaptable .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.adaptable .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.adaptable .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.adaptable-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}
.adaptable-2 .left {
  -webkit-animation: adaptableLeft 5s linear infinite;
  animation: adaptableLeft 5s linear infinite;
}
.adaptable-2 .right {
  -webkit-animation: adaptableRight 5s linear infinite;
  animation: adaptableRight 5s linear infinite;
}
.adaptable-2 .center {
  width: calc(100% / 3);
  position: relative;
}
.adaptable-2 .center-child {
  text-align: center;
  font-size: calc(5px + .8vw);
  line-height: 1.6;
  color: #2e2e2e;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.promotion {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}
.promotion .container {
  max-width: 900px;
}
.promotion-img {
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 1;
}
.promotion-line {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
}
.promotion-line img {
  width: 100%;
}
.promotion .box-promotion {
  border: 12px solid #17305f;
  background: #f3f3f3;
  overflow: hidden;
  z-index: 3;
  position: relative;
  padding-bottom: 120px;
}
.promotion .box-promotion h4 {
  text-align: center;
  padding: 30px;
  padding-bottom: 15px;
  color: #585858;
}
.promotion .box-promotion-child {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.promotion .box-promotion-child h3 {
  font-weight: 400;
  text-transform: initial;
  color: black;
  font-style: italic;
  font-size: 22px;
}
.promotion .box-promotion-child h3 span {
  color: red;
  font-weight: 600;
  font-style: initial;
}
.promotion .box-promotion-child h4 {
  text-decoration: none;
  color: #17305f;
  font-weight: 500;
  padding: 0;
  margin-top: 10px;
  font-size: 20px;
}
.promotion .box-promotion-child h4 span {
  font-weight: 400;
  margin-right: 2em;
  color: #555555;
  text-decoration: line-through;
  margin-top: 10px;
  font-size: 14px;
}
.promotion .box-promotion-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  bottom: -50%;
}
.promotion .box-promotion-img img {
  width: calc(100% / 4 - 30px);
  margin: 0 15px;
}

.comunity {
  margin-bottom: 100px;
}
.comunity .box-comunity {
  position: relative;
}
.comunity .box-comunity:hover img {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.comunity .box-comunity:hover i {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.comunity .box-comunity img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.comunity .box-comunity i {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 30px;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(0);
  transform: translate(-50%, -50%) scaleX(0);
  z-index: 1;
  cursor: pointer;
}
.comunity .box-comunity i:hover {
  font-size: 40px;
}
.comunity .owl-theme .owl-nav button.owl-prev,
.comunity .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
.comunity .owl-theme .owl-nav button.owl-prev:hover,
.comunity .owl-theme .owl-nav button.owl-next:hover {
  color: #17305f;
  background: none;
}
.comunity .owl-theme .owl-nav button.owl-prev:focus,
.comunity .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.comunity .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.comunity .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.feedback .title-page h2 span {
  margin: 0;
  margin-right: 1em;
}
.feedback .box-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 50px;
}
.feedback .box-feedback-img {
  width: 40%;
}
.feedback .box-feedback-img img {
  max-width: 300px;
  margin: auto;
  border-radius: 50%;
}
.feedback .box-feedback-detail {
  width: 60%;
  padding: 30px 50px;
}
.feedback .box-feedback-detail h1 {
  font-weight: bold;
  letter-spacing: 0.3em;
  color: #17305f;
  text-transform: uppercase;
}
.feedback .box-feedback-detail h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 40px;
}
.feedback .box-feedback-detail p {
  line-height: 1.7;
  font-weight: 300;
}

.footer {
  background: #ebebeb;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
  margin-top: 100px;
}
.footer .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-line {
  position: absolute;
  bottom: 80%;
  width: 100%;
  z-index: 1;
}
.footer::before {
  content: "";
  width: 100%;
  height: 100px;
  top: -100px;
  left: 0;
  position: absolute;
  background-image: url("../img/bg-footer.png");
  background-size: cover;
  background-position: center;
}
.footer .logo {
  margin-bottom: 20px;
  text-align: center;
}
.footer .logo img {
  height: 40px;
}
.footer .store {
  color: #2e2e2e;
  margin-bottom: 15px;
}
.footer .store h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
}
.footer .store p {
  font-weight: 600;
}
.footer .store h5 {
  margin-bottom: 15px;
}
.footer .hotline {
  margin-bottom: 15px;
}
.footer .hotline p {
  text-transform: uppercase;
  font-weight: 600;
}
.footer .hotline h5 {
  margin-bottom: 10px;
}
.footer .hotline h2 {
  font-weight: 600;
  color: #17305f;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .container {
    max-width: calc(100% - 30px);
  }

  .product .box-product-order {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  .our-product .owl-theme .owl-nav button.owl-next {
    right: 0;
  }

  .our-product .owl-theme .owl-nav button.owl-prev {
    left: 0;
  }
}
@media (max-width: 992px) {
  .slider .slider-text {
    left: 15px;
    width: calc(100% - 30px);
  }
  .slider .slider-text img {
    height: 30px;
  }
  .slider .slider-text h1 {
    font-size: 20px;
  }
  .slider .slider-text h2 {
    font-size: 18px;
  }
  .slider .slider-text h3 {
    font-size: 16px;
  }
  .slider .slider-text h4 {
    font-size: 14px;
  }
  .slider .slider-text h5 {
    font-size: 12px;
  }

  .article-top .left {
    width: 40%;
  }
  .article-top .right {
    width: 60%;
  }

  .innovation .right {
    height: 100%;
    top: 0;
  }
  .innovation .left {
    padding: 30px;
  }
  .innovation .left-child {
    width: 50%;
  }

  .fashionable .left {
    position: relative;
  }
  .fashionable .left img {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .fashionable .right .box-fashionable h5 {
    width: calc(100% - 45px);
    margin-right: 0;
  }
  .fashionable .right .box-fashionable i {
    width: 100%;
    margin-top: 10px;
  }

  .our-product .box-our-product-detail {
    margin: 0;
    margin-left: 30px;
    width: calc(50% - 30px);
  }

  .adaptable-title {
    position: relative;
    height: auto;
    width: auto;
    background: none;
  }
  .adaptable-title-child {
    position: relative;
    top: initial;
    left: initial;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 15px;
  }

  .adaptable-2 .right, .adaptable-2 .left {
    width: 25%;
  }
  .adaptable-2 .center {
    width: calc(50% - 60px);
  }
  .adaptable-2 .center-child {
    font-size: 1em;
  }

  .comunity {
    margin-bottom: 40px;
  }

  .feedback .box-feedback {
    padding: 0;
  }
  .feedback .box-feedback-detail {
    padding: 0;
    padding-left: 30px;
  }
  .feedback .box-feedback-detail h4 {
    margin-bottom: 15px;
  }

  .footer-line {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .adaptable-2 .left, .adaptable-2 .right {
    display: none;
  }
  .adaptable-2 .center {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
  }
  .adaptable-2 .center-child {
    position: relative;
    top: initial;
    left: initial;
    -webkit-transform: none;
    transform: none;
  }

  .feedback .box-feedback-img {
    width: 100%;
  }
  .feedback .box-feedback-detail {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-left: 0;
  }

  .fashionable .left {
    width: 100%;
  }
  .fashionable .left img {
    position: relative;
    top: initial;
    -webkit-transform: none;
    transform: none;
  }
  .fashionable .right {
    width: 100%;
    padding: 30px 0;
  }
  .fashionable .right .title-fashionable h4 {
    margin-bottom: 20px;
  }

  .our-product .box-our-product-img {
    width: 100%;
  }
  .our-product .box-our-product-detail {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .our-product .box-our-product-detail img {
    margin-right: 15px;
  }
  .our-product .box-our-product-detail-desc {
    width: 100%;
  }
  .our-product .box-our-product-title {
    width: calc(100% - 75px);
  }

  .innovation {
    background-image: url("../img/bg-innovation.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .innovation .left {
    padding: 15px;
    background: none;
  }
  .innovation .left h4 {
    font-size: 14px;
    margin-top: 15px;
  }
  .innovation .left h2 {
    font-size: 20px;
  }
  .innovation .left h1 {
    font-size: 24px;
  }
  .innovation .left-child {
    width: 100%;
  }
  .innovation .right {
    position: relative;
    height: initial;
  }

  .article-top {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .article-top .left {
    width: 100%;
  }
  .article-top .left img {
    margin-left: -50px;
  }
  .article-top .right {
    width: 100%;
  }
  .article-top .right-zone {
    position: relative;
    top: initial;
    -webkit-transform: none;
    transform: none;
    width: 100%;
  }
  .article-top .right-zone h3 {
    font-size: 16px;
  }
  .article-top .right-zone h5 {
    font-size: 14px;
  }
  .article-top .right-zone .box-right h3 {
    font-size: 16px;
  }
  .article-top .right-zone .box-right h4 {
    font-size: 14px;
  }
  .article-top .right-zone .box-right h4 span {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .title-page {
    margin-bottom: 20px;
  }
  .title-page h2 {
    font-size: 24px;
    letter-spacing: 0;
  }
  .title-page h2 span {
    margin-right: 0.5em;
  }
  .title-page h1 {
    font-size: 24px;
    letter-spacing: 0.2em;
  }

  .our-product .title-page h2 {
    font-size: 24px;
    letter-spacing: 0;
  }
  .our-product .title-page h2 span {
    margin-right: 0.5em;
  }

  .article-top .right {
    padding: 15px;
    margin-bottom: 30px;
  }

  .promotion .box-promotion {
    border-width: 2px;
  }
  .promotion .box-promotion-img {
    display: none;
  }
  .promotion .box-promotion h4 {
    padding: 15px;
  }
  .promotion .box-promotion-child {
    padding: 15px;
  }
  .promotion .box-promotion-child h3 {
    font-size: 14px;
  }
  .promotion .box-promotion-child h4 {
    padding: 0;
  }
  .promotion .box-promotion-child h4 span {
    display: block;
    margin: 0;
    margin-bottom: 5px;
  }

  .feedback .box-feedback-detail h1 {
    letter-spacing: 0;
    font-size: 20px;
  }

  .adaptable-title-child h2 {
    font-size: 14px;
  }

  .fashionable {
    margin-bottom: 0;
  }
  .fashionable .right .title-fashionable h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .fashionable .right .title-fashionable h2 {
    font-size: 20px;
  }

  .our-product {
    margin-bottom: 15px;
  }

  .slider .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  .slider .owl-carousel .owl-item img {
    height: 50vh;
    object-fit: cover;
  }
}
@media (max-width: 450px) {
  .quickview .modal-content .quickview-detail-1 .color, .quickview .modal-content .quickview-detail-1 .quantity {
    width: 100%;
  }

  .promotion .box-promotion-child h3 span {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=layout.css.map */
