html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ShoeX
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel="stylesheet", href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Xem sản phẩm')
      i.mdi.mdi-shoe-formal

    .modal.quickview.fade.product-modal-1.show(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle')
      .modal-dialog.modal-lg.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#exampleModalCenterTitle.modal-title Chi tiết sản phẩm
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col-lg-6
                .modal-img
                  img.main-image.xzoom(src='../img/p-6.jpg', xoriginal='../img/p-6.jpg')
                  .xzoom-thumbs
                    .owl-carousel.xzoom-carousel.owl-theme
                      .item
                        a(href='../img/p-6.jpg')
                          img.xzoom-gallery(src='../img/p-6.jpg', xpreview='../img/p-6.jpg')
                      .item
                        a(href='../img/p-1.jpg')
                          img.xzoom-gallery(src='../img/p-1.jpg', xpreview='../img/p-1.jpg')
                      .item
                        a(href='../img/p-2.jpg')
                          img.xzoom-gallery(src='../img/p-2.jpg', xpreview='../img/p-2.jpg')
                      .item
                        a(href='../img/p-3.jpg')
                          img.xzoom-gallery(src='../img/p-3.jpg', xpreview='../img/p-3.jpg')
                      .item
                        a(href='../img/p-4.jpg')
                          img.xzoom-gallery(src='../img/p-4.jpg', xpreview='../img/p-4.jpg')
                      .item
                        a(href='../img/p-5.jpg')
                          img.xzoom-gallery(src='../img/p-5.jpg', xpreview='../img/p-5.jpg')
              .col-lg-6
                .quickview-detail
                  h3 walnut
                  h4.price-product
                    | 1.543.000 đ
                    span 1.929.000 đ 
                  h5
                    | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  .quickview-detail-1
                    .quantity
                      span Số lượng: 
                      input(type='number', value='1', min='1')
                    .size
                      span Size:
                      select    
                        option(value="") US 6.5 | EUR 39
                        option(value="")  US 6.5 | 39
                        option(value="")  US 6.5 | 39
                        option(value="")  US 6.5 | 39
                        option(value="")  US 6.5 | 39

                  .quickview-detail-2
                    i Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, amet.
                  
                  .quickview-detail-3
                    span Thông tin đặt hàng:
                    input(type="text" placeholder="Họ tên")
                    input(type="text" placeholder="Email")
                    input(type="text" placeholder="Số điện thoại")
                    input(type="text" placeholder="Địa chỉ nhận hàng")
                  
                  button Đặt hàng ngay
                  
          .modal-footer
            button.btn.btn-light(type='button', data-dismiss='modal') Đóng



    article
      section.slider
        .owl-carousel.slider-carousel.owl-theme
          .item
            img(src='./../img/bg.jpg')
          .item
            img(src='./../img/bg-2.jpg')
          
        .slider-text
          h1(style="font-weight: 300") This is
          img(src='../img/logo.png')
          h1(style="font-weight: 500") Cloud 9 All day
          h4(style="font-weight: 500") Comfortable   |   Fashionable   |   Adaptable
          h4(style="font-weight: 300") Thoải Mái  |  Thời Thượng  |  Thích Nghi

      section.article-top
        .left
          img(src='../img/image-1.png')
        .right
          .right-zone
            h3 Đón đầu phong cách
            h5 Trở thành một trong những người đầu tiên sở hữu shoex cloud9
            .box-right
              h3 
                span GIẢM NGAY 20% 
              h3 Tặng combo shoe cream và dây giày
              h3 Miễn phí đổi trả trong vòng 30 ngày
              h4
                span 1.929.000 đ
                | Chỉ còn 1.543.000 đ
              
            h2
              a Mua ngay

      section.product
        .container
          .title-page
            h1 WINGTIP OXFORD
          
          .owl-carousel.product-carousel.owl-theme
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/p-6.jpg')
                  img.hidden(src='../img/p-1.jpg')
                .box-product-detail
                  h3 walnut
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping
            
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-4.png')
                .box-product-detail
                  h3 Burgundy
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping
            
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-3.png')
                  img.hidden(src='../img/product-1.png')
                .box-product-detail
                  h3 Dark brown
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping
            
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-4.png')
                  img.hidden(src='../img/product-1.png')
                .box-product-detail
                  h3 classic black
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping

      section.innovation
        .left
          .left-child
            h1 INNOVATION FOR a GENTLEMEN on THE go
            h2 CẢI TIẾN VƯỢT TRỘI,
            h2 BẮT KỊP PHONG CÁCH THÀNH CÔNG
            h4 Cảm nhận sự thoải mái nhờ công nghệ đột phá, giữ vững tinh thần trang trọng qua từng đường nét thủ công, hoàn thiện vẻ ngoài đa phong cách.

        .right
          img(src='../img/image-2.png')

      section.our-product
        .container
          .title-page
            h2  
              | our
              span product

          .owl-carousel.our-product-carousel.owl-theme
            .item
              .box-our-product
                .box-our-product-img
                  img(src='../img/our-product-1.png')
                .box-our-product-detail
                  img( src='../img/our-product-icon-1.png')
                  .box-our-product-title
                    h1 insole
                    h4 ÊM ÁI, THÔNG thoáng
                  .box-our-product-detail-desc
                    p Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.
                    p Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.

            .item
              .box-our-product
                .box-our-product-img
                  img(src='../img/our-product-1.png')
                .box-our-product-detail
                  img(src='../img/our-product-icon-1.png')
                  .box-our-product-title
                    h1 insole
                    h4 ÊM ÁI, THÔNG thoáng
                  .box-our-product-detail-desc
                    p Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.
                    p Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.
            
            .item
              .box-our-product
                .box-our-product-img
                  img(src='../img/our-product-1.png')
                .box-our-product-detail
                  img(src='../img/our-product-icon-1.png')
                  .box-our-product-title
                    h1 insole
                    h4 ÊM ÁI, THÔNG thoáng
                  .box-our-product-detail-desc
                    p Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.
                    p Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.
            
            .item
              .box-our-product
                .box-our-product-img
                  img(src='../img/our-product-1.png')
                .box-our-product-detail
                  img(src='../img/our-product-icon-1.png')
                  .box-our-product-title
                    h1 insole
                    h4 ÊM ÁI, THÔNG thoáng
                  .box-our-product-detail-desc
                    p Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.
                    p Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.
            
            .item
              .box-our-product
                .box-our-product-img
                  img(src='../img/our-product-1.png')
                .box-our-product-detail
                  img(src='../img/our-product-icon-1.png')
                  .box-our-product-title
                    h1 insole
                    h4 ÊM ÁI, THÔNG thoáng
                  .box-our-product-detail-desc
                    p Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.
                    p Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.
            
      section.fashionable
        .container
          .left
            img(src='../img/fashionable.png')
          .right
            .title-fashionable
              h1 fashionable
              h2 BIỂU TƯỢNG THANH lịch
              h4 Vẻ thanh lịch ngời lên từ đường nét thủ công tinh xảo, chất liệu thượng hạng cùng phom dáng chuẩn mực.

            .box-fashionable
              img(src='../img/fashionable-icon-1.png')
              h5 UPPER DA BÊ MỸ cao cấp
              i Chất liệu da bê Mỹ cùng phương thức thuộc da đặc biệt giúp hạn chế vết nhăn khi vận động.
            
            .box-fashionable
              img(src='../img/fashionable-icon-2.png')
              h5 PHOM DÁNG CHUẨN MỰC
              i Phom giày cải tiến, tinh chỉnh phù hợp với sinh trắc học bàn chân người Việt,thuận tiện di chuyễn, thoải mái cả ngày
            
            .box-fashionable
              img(src='../img/fashionable-icon-3.png')
              h5 WELT DA CAO CẤP
              i Với chất liệu da cao cấp, welt (nhiễu) là điểm nhấn hoàn thiện vẻ ngoài đẳng cấp, sang trọng.
            
      section.adaptable
        .adaptable-title
          .adaptable-title-child
            h1 adaptable
            h2 THÁCH THỨC MỌI PHONG cách
            
        .owl-carousel.adaptable-carousel.owl-theme
          .item
            img(src='../img/adaptable-1.png')
          .item
            img(src='../img/img-1.png')
          .item
            img(src='../img/img-2.png')
          .item
            img(src='../img/img-3.png')
            
      section.adaptable-2
        .left
          img(src='../img/adaptable-icon-1.png')
        .center
          .center-child
            p Một đôi giày có thể đồng hành với phái mạnh từ môi trường công sở, những buổi họp, gặp gỡ đối tác cho đến các buổi hẹn hò, hay xuống phố cùng bạn bè.
            p Sự lựa chọn thuận tiện, đa năng, có thể theo chân bạn trong cả những chuyến công tác hay kì nghỉ dài.
        .right
          img(src='../img/adaptable-icon-2.png')
        
      section.promotion
        .promotion-img
          img(src='../img/promotion.png')
        .promotion-line
          img(src='../img/promotion-line.png')
        .container
          .box-promotion
            h4 Trở thành một trong những người đầu tiên sở hữu shoex cloud9
            .box-promotion-child
              h3 
                span GIẢM NGAY 20% 
              h3 Tặng combo shoe cream và dây giày
              h3 Miễn phí đổi trả trong vòng 30 ngày
              h4 
                span 1.929.000 đ
                | Chỉ còn 1.543.000 đ
            .box-promotion-img
              img(src='../img/promotion-1.png')
              img(src='../img/promotion-2.png')
              img(src='../img/promotion-3.png')
              img(src='../img/promotion-4.png')
                 
      section.product
        .container
          .title-page
            h1 WINGTIP OXFORD
          
          .owl-carousel.product-carousel.owl-theme
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
                .box-product-detail
                  h3 walnut
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping
            
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-4.png')
                .box-product-detail
                  h3 Burgundy
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping
            
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-3.png')
                  img.hidden(src='../img/product-1.png')
                .box-product-detail
                  h3 Dark brown
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping
            
            .item
              .box-product
                .box-product-img
                  img.show(src='../img/product-4.png')
                  img.hidden(src='../img/product-1.png')
                .box-product-detail
                  h3 classic black
                  h4
                    span 1.929.000 đ
                    | 1.543.000 đ
                .box-product-order
                  a(data-toggle="modal" data-target=".product-modal-1")
                    | Mua ngay
                    i.mdi.mdi-shopping

      section.comunity
        .container
          .title-page
            img(src='../img/title-icon.png')
            h2  
              span our
              | comunity

          .owl-carousel.comunity-carousel.owl-theme
            .item
              .box-comunity
                i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-1.png")
                img(src='../img/comunity-1.jpg')

            .item
              .box-comunity
                i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-2.jpg")
                img(src='../img/comunity-2.jpg')
                
            .item
              .box-comunity
                i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-4.jpg")
                img(src='../img/comunity-4.jpg')
            .item
              .box-comunity
                i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-5.jpg")
                img(src='../img/comunity-5.jpg')

            .item
              .box-comunity
                i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-6.jpg")
                img(src='../img/comunity-6.jpg')

      section.feedback.our-product
        .container
          .title-page
            h2  
              span our
              | feedback

          .owl-carousel.our-product-carousel.owl-theme
            .item
              .box-feedback
                .box-feedback-img
                  img(src='../img/feedback-1.png')
                .box-feedback-detail
                  h1 Shark Hưng
                  h4 Lorem ipsum
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. 
            
            .item
              .box-feedback
                .box-feedback-img
                  img(src='../img/feedback-1.png')
                .box-feedback-detail
                  h1 Shark Hưng
                  h4 Lorem ipsum
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. 
            
            .item
              .box-feedback
                .box-feedback-img
                  img(src='../img/feedback-1.png')
                .box-feedback-detail
                  h1 Shark Hưng
                  h4 Lorem ipsum
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. 
            
      section.footer
        .footer-line
          img(src='../img/footer-img.png')
        .container
          .logo
            img( src='../img/logo.png')
          .row
            .col-lg-4.col-sm-6
              .store
                h4 Hệ thống cửa hàng ShoeX
                p Store 1:
                h5 56 Lê Thánh Tôn, Quận 1, TP.HCM
                p Store 2:
                h5 119 Lê Văn Sỹ, Quận Phú Nhuận, TP.HCM
            .col-lg-4.col-sm-6
              .hotline
                p hotline
                h5 +84 90 39 48 984 
                h5 (DM/WhatsApp/Viber/Zalo)
                h2 shoex.net
            .col-lg-4.col-sm-12
              .right
                img(src='../img/footer-right.png')
            

    script(src='../js/jquery-3.3.1.min.js')
    script(src='../js/mdb.min.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/owl.carousel.min.js')
    script(src='../js/jquery.fancybox.min.js')
    script(src='../js/xzoom.min.js')
    script(src='../js/magnific-popup.js')
    script(src='../js/layout.js')
