
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ShoeX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Xem sản phẩm"><i class="mdi mdi-shoe-formal"></i></div>
    <div class="modal quickview fade product-modal-1 show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Chi tiết sản phẩm</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="modal-img"><img class="main-image xzoom" src="../img/p-6.jpg" xoriginal="../img/p-6.jpg"/>
                  <div class="xzoom-thumbs">
                    <div class="owl-carousel xzoom-carousel owl-theme">
                      <div class="item"><a href="../img/p-6.jpg"><img class="xzoom-gallery" src="../img/p-6.jpg" xpreview="../img/p-6.jpg"/></a></div>
                      <div class="item"><a href="../img/p-1.jpg"><img class="xzoom-gallery" src="../img/p-1.jpg" xpreview="../img/p-1.jpg"/></a></div>
                      <div class="item"><a href="../img/p-2.jpg"><img class="xzoom-gallery" src="../img/p-2.jpg" xpreview="../img/p-2.jpg"/></a></div>
                      <div class="item"><a href="../img/p-3.jpg"><img class="xzoom-gallery" src="../img/p-3.jpg" xpreview="../img/p-3.jpg"/></a></div>
                      <div class="item"><a href="../img/p-4.jpg"><img class="xzoom-gallery" src="../img/p-4.jpg" xpreview="../img/p-4.jpg"/></a></div>
                      <div class="item"><a href="../img/p-5.jpg"><img class="xzoom-gallery" src="../img/p-5.jpg" xpreview="../img/p-5.jpg"/></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="quickview-detail">
                  <h3>walnut</h3>
                  <h4 class="price-product">1.543.000 đ<span>1.929.000 đ </span></h4>
                  <h5>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</h5>
                  <div class="quickview-detail-1">
                    <div class="quantity"><span>Số lượng: </span>
                      <input type="number" value="1" min="1"/>
                    </div>
                    <div class="size"><span>Size:</span>
                      <select>   
                        <option value="">US 6.5 | EUR 39</option>
                        <option value=""> US 6.5 | 39</option>
                        <option value=""> US 6.5 | 39</option>
                        <option value=""> US 6.5 | 39</option>
                        <option value=""> US 6.5 | 39</option>
                      </select>
                    </div>
                  </div>
                  <div class="quickview-detail-2"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, amet.</i></div>
                  <div class="quickview-detail-3"><span>Thông tin đặt hàng:</span>
                    <input type="text" placeholder="Họ tên"/>
                    <input type="text" placeholder="Email"/>
                    <input type="text" placeholder="Số điện thoại"/>
                    <input type="text" placeholder="Địa chỉ nhận hàng"/>
                  </div>
                  <button class="order-submit">Đặt hàng ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-light" type="button" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <article>
      <section class="slider">
        <div class="owl-carousel slider-carousel owl-theme">
          <div class="item"><img src="./../img/bg.jpg"/></div>
          <div class="item"><img src="./../img/bg-2.jpg"/></div>
        </div>
        <div class="slider-text">
          <h1 style="font-weight: 300">This is</h1><img src="../img/logo.png"/>
          <h1 style="font-weight: 500">Cloud 9 All day</h1>
          <h4 style="font-weight: 500">Comfortable   |   Fashionable   |   Adaptable</h4>
          <h4 style="font-weight: 300">Thoải Mái  |  Thời Thượng  |  Thích Nghi</h4>
        </div>
      </section>
      <section class="article-top">
        <div class="left"><img src="../img/image-1.png"/></div>
        <div class="right">
          <div class="right-zone">
            <h3>Đón đầu phong cách</h3>
            <h5>Trở thành một trong những người đầu tiên sở hữu shoex cloud9</h5>
            <div class="box-right">
              <h3> <span>GIẢM NGAY 20% </span></h3>
              <h3>Tặng combo shoe cream và dây giày</h3>
              <h3>Miễn phí đổi trả trong vòng 30 ngày</h3>
              <h4><span>1.929.000 đ</span>Chỉ còn 1.543.000 đ</h4>
            </div>
            <h2><a>Mua ngay</a></h2>
          </div>
        </div>
      </section>
      <section class="product">
        <div class="container">
          <div class="title-page">
            <h1>WINGTIP OXFORD</h1>
          </div>
          <div class="owl-carousel product-carousel owl-theme">
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/p-6.jpg"/><img class="hidden" src="../img/p-1.jpg"/></div>
                <div class="box-product-detail">
                  <h3>walnut</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-2.png"/><img class="hidden" src="../img/product-4.png"/></div>
                <div class="box-product-detail">
                  <h3>Burgundy</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-3.png"/><img class="hidden" src="../img/product-1.png"/></div>
                <div class="box-product-detail">
                  <h3>Dark brown</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-4.png"/><img class="hidden" src="../img/product-1.png"/></div>
                <div class="box-product-detail">
                  <h3>classic black</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="innovation">
        <div class="left">
          <div class="left-child">
            <h1>INNOVATION FOR a GENTLEMEN on THE go</h1>
            <h2>CẢI TIẾN VƯỢT TRỘI,</h2>
            <h2>BẮT KỊP PHONG CÁCH THÀNH CÔNG</h2>
            <h4>Cảm nhận sự thoải mái nhờ công nghệ đột phá, giữ vững tinh thần trang trọng qua từng đường nét thủ công, hoàn thiện vẻ ngoài đa phong cách.</h4>
          </div>
        </div>
        <div class="right"><img src="../img/image-2.png"/></div>
      </section>
      <section class="our-product">
        <div class="container">
          <div class="title-page">
            <h2>
               our<span>product</span></h2>
          </div>
          <div class="owl-carousel our-product-carousel owl-theme">
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img"><img src="../img/our-product-1.png"/></div>
                <div class="box-our-product-detail"><img src="../img/our-product-icon-1.png"/>
                  <div class="box-our-product-title">
                    <h1>insole</h1>
                    <h4>ÊM ÁI, THÔNG thoáng</h4>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img"><img src="../img/our-product-1.png"/></div>
                <div class="box-our-product-detail"><img src="../img/our-product-icon-1.png"/>
                  <div class="box-our-product-title">
                    <h1>insole</h1>
                    <h4>ÊM ÁI, THÔNG thoáng</h4>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img"><img src="../img/our-product-1.png"/></div>
                <div class="box-our-product-detail"><img src="../img/our-product-icon-1.png"/>
                  <div class="box-our-product-title">
                    <h1>insole</h1>
                    <h4>ÊM ÁI, THÔNG thoáng</h4>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img"><img src="../img/our-product-1.png"/></div>
                <div class="box-our-product-detail"><img src="../img/our-product-icon-1.png"/>
                  <div class="box-our-product-title">
                    <h1>insole</h1>
                    <h4>ÊM ÁI, THÔNG thoáng</h4>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img"><img src="../img/our-product-1.png"/></div>
                <div class="box-our-product-detail"><img src="../img/our-product-icon-1.png"/>
                  <div class="box-our-product-title">
                    <h1>insole</h1>
                    <h4>ÊM ÁI, THÔNG thoáng</h4>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="fashionable">
        <div class="container">
          <div class="left"><img src="../img/fashionable.png"/></div>
          <div class="right">
            <div class="title-fashionable">
              <h1>fashionable</h1>
              <h2>BIỂU TƯỢNG THANH lịch</h2>
              <h4>Vẻ thanh lịch ngời lên từ đường nét thủ công tinh xảo, chất liệu thượng hạng cùng phom dáng chuẩn mực.</h4>
            </div>
            <div class="box-fashionable"><img src="../img/fashionable-icon-1.png"/>
              <h5>UPPER DA BÊ MỸ cao cấp</h5><i>Chất liệu da bê Mỹ cùng phương thức thuộc da đặc biệt giúp hạn chế vết nhăn khi vận động.</i>
            </div>
            <div class="box-fashionable"><img src="../img/fashionable-icon-2.png"/>
              <h5>PHOM DÁNG CHUẨN MỰC</h5><i>Phom giày cải tiến, tinh chỉnh phù hợp với sinh trắc học bàn chân người Việt,thuận tiện di chuyễn, thoải mái cả ngày</i>
            </div>
            <div class="box-fashionable"><img src="../img/fashionable-icon-3.png"/>
              <h5>WELT DA CAO CẤP</h5><i>Với chất liệu da cao cấp, welt (nhiễu) là điểm nhấn hoàn thiện vẻ ngoài đẳng cấp, sang trọng.</i>
            </div>
          </div>
        </div>
      </section>
      <section class="adaptable">
        <div class="adaptable-title">
          <div class="adaptable-title-child">
            <h1>adaptable</h1>
            <h2>THÁCH THỨC MỌI PHONG cách</h2>
          </div>
        </div>
        <div class="owl-carousel adaptable-carousel owl-theme">
          <div class="item"><img src="../img/adaptable-1.png"/></div>
          <div class="item"><img src="../img/img-1.png"/></div>
          <div class="item"><img src="../img/img-2.png"/></div>
          <div class="item"><img src="../img/img-3.png"/></div>
        </div>
      </section>
      <section class="adaptable-2">
        <div class="left"><img src="../img/adaptable-icon-1.png"/></div>
        <div class="center">
          <div class="center-child">
            <p>Một đôi giày có thể đồng hành với phái mạnh từ môi trường công sở, những buổi họp, gặp gỡ đối tác cho đến các buổi hẹn hò, hay xuống phố cùng bạn bè.</p>
            <p>Sự lựa chọn thuận tiện, đa năng, có thể theo chân bạn trong cả những chuyến công tác hay kì nghỉ dài.</p>
          </div>
        </div>
        <div class="right"><img src="../img/adaptable-icon-2.png"/></div>
      </section>
      <section class="promotion">
        <div class="promotion-img"><img src="../img/promotion.png"/></div>
        <div class="promotion-line"><img src="../img/promotion-line.png"/></div>
        <div class="container">
          <div class="box-promotion">
            <h4>Trở thành một trong những người đầu tiên sở hữu shoex cloud9</h4>
            <div class="box-promotion-child">
              <h3> <span>GIẢM NGAY 20% </span></h3>
              <h3>Tặng combo shoe cream và dây giày</h3>
              <h3>Miễn phí đổi trả trong vòng 30 ngày</h3>
              <h4> <span>1.929.000 đ</span>Chỉ còn 1.543.000 đ</h4>
            </div>
            <div class="box-promotion-img"><img src="../img/promotion-1.png"/><img src="../img/promotion-2.png"/><img src="../img/promotion-3.png"/><img src="../img/promotion-4.png"/></div>
          </div>
        </div>
      </section>
      <section class="product">
        <div class="container">
          <div class="title-page">
            <h1>WINGTIP OXFORD</h1>
          </div>
          <div class="owl-carousel product-carousel owl-theme">
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-1.png"/><img class="hidden" src="../img/product-2.png"/></div>
                <div class="box-product-detail">
                  <h3>walnut</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-2.png"/><img class="hidden" src="../img/product-4.png"/></div>
                <div class="box-product-detail">
                  <h3>Burgundy</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-3.png"/><img class="hidden" src="../img/product-1.png"/></div>
                <div class="box-product-detail">
                  <h3>Dark brown</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
            <div class="item">
              <div class="box-product">
                <div class="box-product-img"><img class="show" src="../img/product-4.png"/><img class="hidden" src="../img/product-1.png"/></div>
                <div class="box-product-detail">
                  <h3>classic black</h3>
                  <h4><span>1.929.000 đ</span>1.543.000 đ</h4>
                </div>
                <div class="box-product-order"><a data-toggle="modal" data-target=".product-modal-1">Mua ngay<i class="mdi mdi-shopping"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="comunity">
        <div class="container">
          <div class="title-page"><img src="../img/title-icon.png"/>
            <h2> <span>our</span>comunity</h2>
          </div>
          <div class="owl-carousel comunity-carousel owl-theme">
            <div class="item">
              <div class="box-comunity"><i class="mdi mdi-image-search-outline" title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-1.png"></i><img src="../img/comunity-1.jpg"/></div>
            </div>
            <div class="item">
              <div class="box-comunity"><i class="mdi mdi-image-search-outline" title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-2.jpg"></i><img src="../img/comunity-2.jpg"/></div>
            </div>
            <div class="item">
              <div class="box-comunity"><i class="mdi mdi-image-search-outline" title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-4.jpg"></i><img src="../img/comunity-4.jpg"/></div>
            </div>
            <div class="item">
              <div class="box-comunity"><i class="mdi mdi-image-search-outline" title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-5.jpg"></i><img src="../img/comunity-5.jpg"/></div>
            </div>
            <div class="item">
              <div class="box-comunity"><i class="mdi mdi-image-search-outline" title="Nhấn để phóng to ảnh" data-caption="Mô tả hoặc tên của ảnh" data-fancybox="gallery" href="../img/comunity-6.jpg"></i><img src="../img/comunity-6.jpg"/></div>
            </div>
          </div>
        </div>
      </section>
      <section class="feedback our-product">
        <div class="container">
          <div class="title-page">
            <h2> <span>our</span>feedback</h2>
          </div>
          <div class="owl-carousel our-product-carousel owl-theme">
            <div class="item">
              <div class="box-feedback">
                <div class="box-feedback-img"><img src="../img/feedback-1.png"/></div>
                <div class="box-feedback-detail">
                  <h1>Shark Hưng</h1>
                  <h4>Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-feedback">
                <div class="box-feedback-img"><img src="../img/feedback-1.png"/></div>
                <div class="box-feedback-detail">
                  <h1>Shark Hưng</h1>
                  <h4>Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-feedback">
                <div class="box-feedback-img"><img src="../img/feedback-1.png"/></div>
                <div class="box-feedback-detail">
                  <h1>Shark Hưng</h1>
                  <h4>Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-line"><img src="../img/footer-img.png"/></div>
        <div class="container">
          <div class="logo"><img src="../img/logo.png"/></div>
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="store">
                <h4>Hệ thống cửa hàng ShoeX</h4>
                <p>Store 1:</p>
                <h5>56 Lê Thánh Tôn, Quận 1, TP.HCM</h5>
                <p>Store 2:</p>
                <h5>119 Lê Văn Sỹ, Quận Phú Nhuận, TP.HCM</h5>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="hotline">
                <p>hotline</p>
                <h5>+84 90 39 48 984 </h5>
                <h5>(DM/WhatsApp/Viber/Zalo)</h5>
                <h2>shoex.net</h2>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="right"><img src="../img/footer-right.png"/></div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>